#navigation
  %ul
    %li
      %a{:href => '/index', :class => 'index'} Home
    %li
      %a{:href => '/about', :class => 'about'} About
    %li
      %a{:href => '/explanation', :class => 'explanation'} How It Works