#navigation
  %ul
    %li
      %a{:href => '/index', :class => 'index'} Home
    %li
      %a{:href => '/about', :class => 'about'} About
    %li
      %a{:href => '/explanation', :class => 'explanation'} Explanation
    - if session[:author]
      %li
        %a{:href => '/author/profile', :class => 'profile'} Profile
      %li
        %a{:href => '/author/logout', :class => 'logout'} Log Out
    - else
      %li
        %a{:href => '/author/signup', :class => 'signup'} Sign Up      
      %li
        %a{:href => '/author/login', :class => 'login'} Log In
  