body {
	text-align: center;
}
pre {
  white-space: pre-line;
}
a {
	color: #369;
	text-decoration: none;
}
#page {
  text-align: left;
  width: 800px;
  margin: 40px auto;
}
												/* site-wide */
.error {
	border: 1px solid #C00;
	background: #FEE;
	padding: 5px;
	color: #C00;
}
												/* forms */
form {
	width: 360px;
}
div.row {
  clear: both;
  padding-top: 5px;
}

div.row label {
  float: left;
  width: 150px;
  text-align: right;
}

div.row input {
  float: right;
  width: 200px;
  text-align: left;
	display: inline;
	margin-top: -2px;
	border: 1px solid #333;
}
form #button {
	margin: 0;
	padding: 0;
	border-top: 3px solid #4080BF;
	border-left: 3px solid #4080BF;
	border-right: 3px solid #264D73;
	border-bottom: 3px solid #264D73;
	background: #369;
	color: #FFF;
	width: 100px;
	margin-right: 102px;
	text-align: center;
	margin-bottom: 20px;
}
												/* navigation */
 
#navigation {
  font-family: Georgia, Times, serif;
  font-size: 20px;
  margin-bottom: 22px;
}

#navigation ul {
  margin: 0;
  padding: 0 0 20px 10px;
  border-bottom: 1px solid #333;
  color: #333;
}

#navigation ul li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

#navigation a
{
  float: left;
  line-height: 14px;
  font-weight: bold;
  margin: 0 10px 4px 10px;
  text-decoration: none;
  color: #999;
  padding-bottom: 3px;
  background: transparent;
}

#navigation a:hover {
  color: #666;
  border-bottom: 4px solid #666;
}

.index .index, .about .about, 
.explanation .explanation, 
.signup .signup, .login .login,
.profile .profile {
  color: #333 !important;
  border-bottom: 4px solid #333;
}

												/* main content area */
#content, input {
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 16px;
	line-height: 24px;
	color: #333;
	font-weight: 500;
}
#footer {
	font-family: Georgia, Times, serif;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	padding: 4px 1px;
	clear: both;
	margin-top: 30px;
}
#footer .left {
	float: left;
}
#footer .right {
	float: right;
}
#footer .clear {
	clear: both;
}