%pre#display= @page.content
#choices 
  Do you:
  %ul
  - @page.choices.each do |choice|
    %li
      - if choice.page
        %a{:href => "/read/page/#{choice.page.id}"}= choice.option
      - else
        %a{:href => "/missing/page"}= choice.option
  